* {
    -fx-text-fill: white;
}

.root {
    -fx-background-image: url("../textures/background.png");
}

.white-background {
    -fx-background-color: white;
}

.black-text {
    -fx-text-fill: black;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-color: white !important;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-prompt-text-fill: white;
}

.title {
    -fx-font-family: Helvetica;
    -fx-font-size: 22;
}

.body {
    -fx-font-family: Helvetica;
    -fx-font-size: 14;
}

.game-button, .game-button:hover {
    -fx-border-color: green !important;
    -fx-border-radius: 8px;
    -fx-border-width: 5px;
    -fx-text-fill: green;
    -fx-font-size: 16;
}

.game-button-selected, .game-button-selected:hover {
    -fx-border-color: lightgreen !important;
    -fx-text-fill: lightgreen;
}

.invisible-button {
    -fx-background-color: none;
}

.invisible-button:hover {
    -fx-background-color: none;
    -fx-border-color: none;
}